# Xcode
DerivedData/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods / Carthage
Pods/
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# macOS
.DS_Store

# Secrets
.env
.env.*
*.p8
*.mobileprovision
*.cer
*.p12
